:root {
    --background-color:  #232323;
    --color-button-text:rgb(255,0,255);
    --color-button: rgb(36, 14, 36);
    --color-shadow: rgb(40, 0, 40);
    --color-text: rgb(4, 3, 4);
    --color-text2: rgb(164, 101, 213);
}